* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f8f8f8;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  background-color: #f3f3f3;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  height: 4rem;
}

.logo {
  width: 50px;
  height: auto;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  transition: 0.3s;
}

nav a:hover {
  color: #3a7d44;
}

/* Hero Section */
.hero {
  background-image: url("ASSET2/bumi.jpeg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
  color: #023020;
}

.hero-text {
  max-width: 500px;
}

.hero h1 {
  font-size: 55px;
  line-height: 1.2;
  font-weight: 800;
}

.hero p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
  letter-spacing: 1px;
}

.analisis-btn {
  display: inline-block;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #f8f8f8;
  color: #005b35;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s;
}

.analisis-btn:hover {
  background-color: #005b35;
  color: white;
}

/* ABOUT */
.judul {
  color: #023020;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.bintang {
  text-align: center;
  color: #023020;
}

.sampah {
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
}

.card-about {
  background: white;
  color: #333;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1 1 300px;
  display: inline-block;
}

.about {
  padding: 60px 20px;
  margin-bottom: -70px;
  text-align: center;
}

/* ANALISIS */
.judul-analisis {
  text-align: center;
 
}

.analisis {
  margin: 30px;
  background-color: white;
  padding: 90px 30px 50px;
  text-align: center;
}

.judul-analisis {
  color: #0b3d2e;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 42px;
  display: flex;
  margin: 9px auto 0 auto;
  text-align: center;
  width: fit-content;
  font-family: 'Poppins, sans-serif';
}

.sub-judul:hover {
  background-color: #fff;
  transform: translateY(-2px);
}

.bingkai-kartu-analisis {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 60px 10px;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.kartu-analisis img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease, filter 0.4s ease;
}

.kartu-analisis:hover img {
  transform: scale(1.1);
  filter: brightness(60%);
}

.kartu-analisis {
  background: linear-gradient(180deg #86a6c4 0%, #cddcee);
  border-radius: 20px;
  width: 250px;
  height: 220px;
  text-align: center;
  transition: transform 0.4s, box shadow 0.4s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.kartu-analisis:hover {
  background: linear-gradient(180deg #6f8baa 0%, #9bb2cc);
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.kartu-analisis .overlay h3 {
  font-size: 20px;
  margin-bottom: 6px;
  color: #fff;
  font-weight: 700;
}

.kartu-analisis .overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  padding: 20px;
}

.kartu-analisis:hover .overlay {
  opacity: 1;
}

/* Button */
.btn p {
  display: flex;
  background-color: #dedede;
  overflow: hidden;
  transform: scale(1.5);
}

.btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #dedede;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
  text-decoration: none;
}

.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2F4F4F;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Glow */
.btn::before {
  content: "";
  background: linear-gradient(
  40deg,
  #B8FFB8, #8AFF8A, #5CFF5C, #2EFF2E,
  #00FF00, #00D100, #00A300, #008000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 90px;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing  20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 0;
}

  @keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 100% 0;}
    100% {background-position: 0 0;}
  }

  .btn:hover::before {
    opacity: 1;
  }

  .btn:active:after {
    background: transparent;
  }

  .btn:active {
    color: #008080;
    font-weight: bold;
  }
/* PRODUCT */
.judul-product {
  color: #0b3d2e;
  padding: 20px 40px;
  border-radius: 8px;
  font-size: 42px;
  display: flex;
  margin: 9px auto 0 auto;
  text-align: center;
  width: fit-content;
  font-family: 'Poppins, sans-serif';
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.card-produk {
  width: 360px;
  background:  white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-produk:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-produk img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card-produk h3 {
  text-align: center;
  font-size: 18px;
  color: #000;
}

.href {
  text-align: center;
  margin: 4px;
}

.testc {
  display: inline-block;
  background-color: #2ecc71;
  color: black;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 25px;
  transition: 0.2s;
  margin-top: 2px;
}

.testc:hover {
  background-color: #2ecc71;
  color: #fff;
}

.judul-product {
  text-align: center;
  padding: 60px 20px;
}

/* MYTEAM */
.judul-myteam {
  color: #0b3d2e;
  font-size: 42px;
  font-family: 'Poppins, sans-serif';
  padding: 40px;
  text-align: center;
  padding: 60px 20px;
}

.myteam {
 background-color: white;
 margin: 90px 0;
}

.card-myteam {
  padding: 2rem;
  background-color: #eff9f2;
  border-radius: 3rem;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-myteam:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card-myteam img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 90px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.card-myteam h3 {
  color: #000;
  margin-bottom: 10px;
}

.card-myteam p {
  font-size: 15px;
  line-height: 1.6;
}

.myteam-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 2fr));
  gap: 2rem;
  margin-top: 3rem;
  width: 85%;
  margin-inline: auto;
}

/* KONTAK */
.kontak {
      background-color: #eaf7ec;
      padding: 30px;
    }
    
button {
  width: 50%;
  background-color: #2ecc71;
  color: black;
  border: none;
  padding: 11px;
  font-size: 16px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: #023020;
  color: white;
}

form input {
 all: unset;
 padding: 29px;
 border-radius: 18px;
 border: 2px solid transparent;
 box-shadow: 0px 2px 2px 2px
 rgba(0,0,0,0.888);
 transition: border .3s ease-in-out;
 margin: 10px;
}

form input:focus {
  border-color: #2ecc71;
}

form input::placeholder {
  font-size: .9rem;
}

.kontak h2 {
 text-align: center;
 color: #023020;
 margin: 15px;
}

.kontak p {
  text-align: center;
  margin: 15px;
}

/* Footer */
footer {
  background-color: #bdf1bd;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer img {
  width: 100px;
  height: 100px;
  margin-top: 60px;
  position: relative;
}

footer p {
  margin: 0;
  font-size: 14px;
}

footer .sosmed {
  margin-top: 8px;
}

footer .sosmed a {
  text-decoration: none;
  margin: 0 5px;
  font-size: 14px;
  color: #fff;
}

footer .sosmed a:hover {
  text-decoration: underline;
}